*{
	margin : 0;
	padding : 0;
	border : 0;
}
body{
	background : white;
	color : #67727A;
	font-family: 'Kanit', sans-serif;
	margin : 0;
	min-width: 1300px;
}
h1{
	font-family: 'Prompt', sans-serif;
	font-size: 450%;
	line-height : 110%;
	color: black;
	text-align: center;
	padding-top: 17%;
}
h2{
	font-size : 200%;
	font-weight : 700;
	text-align : center;
	padding-top : 1%;
	color : blue;
}
h3{
	font-family: 'Pattaya', sans-serif;
	font-size : 175%;
	line-height : 150%;
	padding : 2% 0 0 0;
	color : #F5F5F5;
}
h4{	font-size : 150%;14:04 13/3/2560
	font-weight : 700;
	text-align : center;
	padding-top : 0.5%;
	color : black;

}
h5{ 	font-size : 100%;
	font-weight : 700;
	text-align : center;
	padding-top : 0.5%;
	color : black;


}
h6{	font-size : 100%;
	font-weight : 700;
	padding-top : 0.5%;
	color : black;

}
p{
	font-family: 'Prompt', sans-serif;
	color : white;
	font-size : 120%;
	line-height : 150%;
	padding-left : 50px;
}
b{	font-size: 100%
	color: black;
	
}
#img{
	text-align: center;
	margin: 0 auto;
}
#vdo{
	padding-top: 50px;
	text-align: center;
}
a{
	text-decoration: none;
}
.black-ribbon {   position: fixed;   z-index: 9999;   width: 70px; }
@media only all and (min-width: 768px) { .black-ribbon { width: auto; } }

.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }
header{
	border-top: 2px solid #ffcc00;
	width : 100%;
	height : 66px;
}
#header-inner{
	max-width : 1200px;
	margin : 0 auto;
}
#wrapper{
	width: 100%;
	height: 70px;
	background: #ecf0f1;
}
#logo{
	margin : 5px 20px 0 0;
	float : left;
	width : 150px;
	height : 60px;
	background : url(img/logo2.png) no-repeat;
}
/*---- Start Navigation---*/
nav{
	margin: 0 auto;
	padding : 25px 60px 0 0;
}
#menu-icon{
	display : hidden;
	width : 30px;
	height : 30px;
	background : url(img/nav.png) center;
}
a:hover#menu-icon{
	border-radius : 4px 4px 0 0;
}
ul{
	list-style-type : none;
}
nav ul li{
	font-family: 'Montserrat', sans-serif;
	font-size : 90%;
	display : inline-block;
	float : left;
	padding : 0 30px 0 30px;
}
nav ul li a{
	color : black;
	padding: 10px;
	text-decoration : none;
}
nav ul li a:hover{
	color: white;
	background: rgba(231, 76, 60, 0.6);
	padding: 10px;
	border-radius: 5px;
}
.current{
	color: white;
	background: rgba(231, 76, 60, 0.6);
	padding: 10px;
	border-radius: 5px;
}
li a, .dropbtn {
    color: white;
    text-decoration: none;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(200, 200, 200, 0.7);
    min-width: 160px;
    z-index: 1;
	margin-top: 10px;
	border-radius: 5px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	border: none;
    text-align: center;
}
.dropdown-content a:hover {
	padding: 12px 16px;
	background-color: rgba(231, 76, 60, 0.6);
	border: none;
	color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.flag{
	margin-left: 20px;
}
.flag:hover{
	filter: brightness(350%);
}
/* End Header */
#container{
	width:100%;
	height: 1500px;
}
#block{ 	
	background: #111111;
	width: 20%;	
	border-top: 1px solid #ffcc00;
	padding-top : 30px;
	float: left;
	height: 100%;
}
.block-inner{
	font-family: 'Prompt', sans-serif;
	width: 100%;
	height: 80px;
	padding-top : 30px;
}
.block-inner:hover{
	background : #ffcc00;
	cursor: pointer;
}
#block2{
	width: 80%;
	float: right;
	
}
#head-detail{
	padding-top : 50px;
}
#detail{
	padding-top: 25px;
	width: 90%;
	margin: 0 auto;
}
#course{
	display: none;
}
#recruitment{
	display: none;
}	
i{
	margin-right: 10px;
}
footer{
	background-color : #ecf0f1;
	width : 100%;
	color: black;
}
.social{
	list-style-type : none;
	text-align : center;
}
.social li{
	display : inline;
}
.social i{
	font-size : 200%;
	margin : 1%;
	padding : 5% 0 5% 3%;
	color : black;
}
.social i:hover{
	color : #e74c3c;
}